<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Esteban Espinoza Fallas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Practica #1 PW Esteban Espinoza Fallas</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">PRÁCTICA 1</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="main_page">HOME</a></li>
                <li><a href="book_one">BOOK ONE</a></li>
                <li class="active"><a href="book_two">BOOK TWO</a></li>
                <li><a href="book_three">BOOK THREE</a></li>
                <li><a href="book_four">BOOK FOUR</a></li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="card">
            <div class="center">
                <img src="../images/Database System Concepts.jpg" style="height: 410px; width: 310px;">
            </div>
            <div class="card-content">
                <span class="card-title center">Database System Concepts</span>
                <table>
                    <thead>
                        <tr>
                            <th>INFO</th>
                            <th>DATA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th>TITLE</th>
                            <td>Database System Concepts</td>
                        </tr>
                        <tr>
                            <th>EDITION</th>
                            <td>6th</td>
                        </tr>
                        <tr>
                            <th>COPYRIGHT</th>
                            <td>2010</td>
                        </tr>
                        <tr>
                            <th>LANGUAGE</th>
                            <td>ENGLISH</td>
                        </tr>
                        <tr>
                            <th>PAGES</th>
                            <td>1376</td>
                        </tr>
                        <tr>
                            <th>AUTHOR</th>
                            <td>Abraham Silberschatz</td>
                        </tr>
                        <tr>
                            <th>PUBLISHER</th>
                            <td>John Wiley & Sons</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>