<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Esteban Espinoza Fallas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Practica #1 PW Esteban Espinoza Fallas</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">PRÁCTICA 1</a>
            <ul class="right hide-on-med-and-down">
                <li class="active"><a href="main_page">HOME</a></li>
                <li><a href="book_one">BOOK ONE</a></li>
                <li><a href="book_two">BOOK TWO</a></li>
                <li><a href="book_three">BOOK THREE</a></li>
                <li><a href="book_four">BOOK FOUR</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col s3">
                <div class="card center">
                    <div class="card-image">
                        <img src="../images/Operating System Concepts.jpg" style="max-height: 310px;">
                        <span class="card-title">Operating System Concepts</span>
                    </div>
                    <div class="card-action">
                        <a href="book_one">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="card center ">
                    <div class="card-image">
                        <img src="../images/Database System Concepts.jpg" style="max-height: 310px;">
                        <span class="card-title">Database System Concepts</span>
                    </div>
                    <div class="card-action">
                        <a href="book_two">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="card center">
                    <div class="card-image">
                        <img src="../images/Computer Networks.jpg" style="max-height: 310px;">
                        <span class="card-title">Computer Networks</span>
                    </div>
                    <div class="card-action">
                        <a href="book_three">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="card center">
                    <div class="card-image">
                        <img src="../images/Modern Operating Systems.jpg" style="max-height: 310px;">
                        <span class="card-title">Modern Operating Systems</span>
                    </div>
                    <div class="card-action">
                        <a href="book_four">More Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>